EMAIL_USER = placementss@rtu.ac.in
EMAIL_PASS = rqhvqbevfqxpkcsr 
NEXT_PUBLIC_APP_URL = https://placementcell-rtu.vercel.app
MONGODB_URI = mongodb://localhost:27017/<dbname>
JWT_SECRET = your-secret-key-change-in-production
ADMIN_USERNAME=ptp123
ADMIN_PASSWORD=admin123
ALUMNI_SECTION_PASSWORD=alumni123
